
</div>
<div class="footer-padding"></div>
  <div class="footer">

    <p>Made by Zsofia Szonyi 2019</p>

  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>

<script>
  new FroalaEditor('#edit', {
    fileUpload: false,
    imageUpload: false
  });

</script>

</body>
</html>
