<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/d5a32b6aed.js"></script>

</head>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" id="blogname">ZSOFI'S BLOG</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT ME</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>

 <% if (userId) { %>
   <li id="login"><a href="/logout">LOGOUT</a></li>
 <% } else { %>
  <li id="login"><a href="/login">LOGIN</a></li>
 <% } %>

        </ul>
    <div class="purple">
    </div>
    </div>
  </nav>

  <body>
    <div class="container">
