<%- include("partials/header"); -%>
    <h1>About Me</h1>

    <div class="homeContainer">
      <img class="profilePhoto" src="/belize.jpg" alt="Zsofia">
      <p> <%= aboutContent %> </p>
    </div>
<%- include("partials/footer"); -%>
