<%- include("partials/header"); -%>

<h1>Create a New Account</h1>

<form action="/register" method="POST" encType="multipart/form-data">
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label for="">Username</label>
      <input type="text" name="username" placeholder="Username..." value="" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Email..." value="" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label for="">Password</label>
      <input type="password" name="password" placeholder="Password..." value="" class="form-control">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" name="button">Register now</button>
  </form>

<%- include("partials/footer"); -%>
